# This file defines code owners for different parts of the repository

# Code owners are automatically requested for review when someone opens a PR that modifies code they own

# Learn more about CODEOWNERS: https://docs.github.com/en/repositories/managing-your-repository-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo

- @swapnil-cometchat

# Moderation related files

/moderation/ @siva-cometchat

# Notifications related files

/notifications/ @mathews-cometchat

# SDK related files

/sdk/ @jitvarpatil
/sdk/javascript/ @raj-dubey1
/sdk/react-native/ @raj-dubey1
/sdk/ionic/ @raj-dubey1

# UI Kit related files

/ui-kit/ @jitvarpatil
/ui-kit/angular/ @raj-dubey1
/ui-kit/react/ @raj-dubey1
/ui-kit/vue/ @raj-dubey1
/web-elements/ @raj-dubey1
/web-shared/ @raj-dubey1

# REST API related files

/rest-api/ @siva-cometchat

# Specific API schema files

/chat-apis.json @siva-cometchat
/calls.json @siva-cometchat
/data-import-apis.json @siva-cometchat

# Webhook documentation files

/fundamentals/webhooks\*.mdx @siva
